{% extends "members/base.html" %}

{% block content %}
	<h3 class='oswald' style='text-align: center;'>{{ title }}</h3>
	{% autoescape off %}
		{{ page_body }}
	{% endautoescape %}



<br/><br/><br/><strong>Q. What’s the wifi network and password? </strong>
<br/>A. Network: “Runway”            Password: “startuplove” (5Ghz) Network: “Runway Guest”     Password: “codehappy” (2.4 Ghz)
<br/><br/><strong>Q. What’s the code for the bathroom? </strong>
<br/>A. “555#” (that’s not a hashtag).
<br/><br/><strong>Q. How do I get to Runway? </strong>
<br/>A. The lobby that services Runway is located next to the Walgreen’s, at 9th and Market. Runway is a three-minute walk from the Civic Center BART, and only a minute from MUNI.
<br/><br/><strong>Q. What are Runway’s operating hours? </strong>
<br/>A. Runway is available to residents 24/7. Access between the hours of 5 PM and 9 AM is limited - only residents with access badges and guests may enter during this time. The security desk downstairs is staffed 24 hours, Monday through Friday.
<br/><br/><strong>Q. When can I get my access badge? </strong>
<br/>A. Schedule a time with Sarah (sarah@runway.is) to get your badge printed. The building issues badges on Monday at 9:30 AM, Wednesday at 10 AM, and Friday at 11:30 AM.
<br/><br/><strong>Q. How do I add guests to the security list? </strong>
<br/>A. Go to www.runway.is/guest and fill out the forms. Please submit the form with ample advance notice so that our system can process the additions.
Alternatively, you may also check in your guests manually using your access badge downstairs. This step is mandatory when expecting groups of 10+ people, as someone from your team will need to wait in the lobby for the entire group to arrive.
<br/><br/><strong>Q. How do I reserve conference rooms? </strong>
<br/>A. Use your team’s log-in information for LiquidSpace. Log-ins are given to teams during the onboarding process. Email Melvin (melvin@runway.is) if your team hasn’t received an invitation.
<br/><br/><strong>Q. How do I reserve the event space? </strong>
<br/>A. Talk to Stella (stella@runway.is). The event space cannot be reserved on LiquidSpace. Runway residents receive a 50% discount for hosting, and free attendance into any event held at Runway.
<br/><br/><strong>Q. I bike. What do I need to know about biking to work? </strong>
<br/>A. Bikes are not allowed to enter the building through the lobby nor are permitted on the passenger elevators. Bicyclists must enter the building through the parking garage or the loading dock.
<br/><br/><strong>Q. I drive. Where can I park and how much does it cost? </strong>
<br/>A. Runway has a limited number of parking spots available in for Runway residents. 24/7 parking spots are $300/month with a one-time $20 signup fee. Email Melvin (melvin@runway.is) for more information regarding availability and to be put on the waiting list.

{% endblock %}
